.section4 {
  text-align: center;
  padding-top: 4.25rem;
  padding-bottom: 4.75rem;
}
.section4 h2 {
  margin-bottom: 3rem;
}
.sec4-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 2rem;
}
.sec4-article {
  padding: 8.5rem 4.125rem;
  border-radius: 1.125rem;
  -webkit-border-radius: 1.125rem;
  -moz-border-radius: 1.125rem;
  -ms-border-radius: 1.125rem;
  -o-border-radius: 1.125rem;
}
.sec4-card1 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-tomar.jpg);
}
.sec4-card2 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-peniche.JPG);
}
.sec4-card3 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-brazil.png);
}
.sec4-card4 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-santarem.jpg);
}
.sec4-card5 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-abrantes.jpg);
}
.sec4-card6 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-leiria.jpg);
}
.sec4-card7 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-braga.jpg);
}
.sec4-card8 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../../assets/images/place-setubal.jpg);
}
.sec4-article {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* media querries */
@media screen and (max-width: 14300px) {
  .sec4-card-container {
    grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
  }
}
/* Made by @yousaf_ustav on twitter */
