.progress-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 7%;
    position: relative;
    margin-block: 3rem;
}
.progress-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    top: 20.5%;
    left: 0;
    left: 0;
    background-color: #d9d9d9;
    transform: translateY(-20.5%);
    -webkit-transform: translateY(-20.5%);
    -moz-transform: translateY(-20.5%);
    -ms-transform: translateY(-20.5%);
    -o-transform: translateY(-20.5%);
    z-index: 5;
}
.progress-line {
    position: absolute;
    height: 6px;
    top: 20.5%;
    left: 0;
    background-color: #c48b60;
    transform: translateY(-20.5%);
    -webkit-transform: translateY(-20.5%);
    -moz-transform: translateY(-20.5%);
    -ms-transform: translateY(-20.5%);
    -o-transform: translateY(-20.5%);
    z-index: 10;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}
.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #d9d9d9;
    position: relative;
    z-index: 20;
}
.circle.active {
    color: #c48b60;
}
.bg-white {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0.5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    z-index: -1;
}
