.section7 {
  margin: 6.75rem auto;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.sec7-left,
.sec7-right {
  flex-basis: 50%;
}
.sec7-left {
  padding: 7.125rem 5.75rem;
}
.sec7-left h2 {
  line-height: 76px;
}
.sec7-left p {
  line-height: 36px;
  margin-top: 1.375rem;
  margin-bottom: 2rem;
}
.sec7-left a {
  padding: 1rem 2rem;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.sec7-right {
  position: relative;
  background-image: url(../../assets/images/img9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
}
.sec7-right a {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  /* positioning */
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}
/* media queries */
@media (max-width: 1400px) {
  .section7 {
    grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
  }
  .sec7-left {
    padding: 5.125rem 4.75rem;
  }
  .sec7-right {
    height: 25rem;
  }
}
@media (max-width: 740px) {
  .section7 {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
  .sec7-left {
    padding: 3.125rem 2.75rem;
  }
}
@media (max-width: 600px) {
  .section7 {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
  .sec7-left {
    padding: 3.125rem 2.75rem;
  }
  .sec7-left h2 {
    font-size: 48px;
    line-height: 40px;
  }
  .sec7-left p {
    line-height: 32px;
    margin-top: 1.175rem;
    margin-bottom: 1.5rem;
  }
  .sec7-right {
    height: 20rem;
  }
}
@media (max-width: 485px) {
  .section7 {
    width: 100%;
  }
  .sec7-left {
    padding: 3.125rem 1.75rem;
  }
}

/* Made by @yousaf_ustav on twitter */
